<div class="wrap-404">
  <div class="label"><h1>Error</h1></div>
  <div class="numbers d-flex justify-content-center">
    <div class="number">
      <div class="four"></div>
    </div>
    <div class="number" style="margin-left: 60px">
      <div class="zero"><span></span></div>
    </div>
    <div class="number">
      <div class="four1 last" style="margin-right: 60px"></div>
    </div>
  </div>
  <div class="text">
    <p>Looks like you got lost... Or we trying to confuse you... </p>
    <p>
      Let us bring you at <a href="#">home</a>.</p>
  </div>
  <div class="sleep-walker">
    <div class="man">
      <div class="head"></div>
      <div class="torso">
        <div class="arm-a"></div>
        <div class="arm-b"></div>
      </div>
      <div class="legs">
        <div class="leg-a"></div>
        <div class="leg-b"></div>
      </div>
    </div>
  </div>
</div>
