<div class="container-fluid pb-5">
  <p class="h1 my-5 text-total text-center">Transaction History</p>
  <div class="row w-100">
    <div class="col-10 d-flex justify-content-between mx-auto">
      <div class="col-2">
        <p class="text-center">Transaction No</p>
      </div>

      <div class="col-2">
        <p class="text-center ">Transaction Date</p>
      </div>

      <div class="col-2">
        <p class="text-center ">Transaction Time</p>
      </div>

      <div class="col-2">
        <p class="text-center ">Payment Method</p>
      </div>

      <div class="col-2">
        <p class="text-center ">Total Price</p>
      </div>

      <div class="col-2">
        <p class="text-center ">Customer Name</p>
      </div>
    </div>
  </div>
  <div *ngFor="let transaction of transactionList | paginate: { itemsPerPage: 5, currentPage: page + 1, totalItems: totalElements }, let i = index"  class="row w-100 mt-2">
    <div (click)="showDetail(transaction.id, transaction.payment)" *ngIf="userName == transaction.customer.appUser.userName"  class="col-10 h-20 rounded-5 row-hover my-1 bg-ccc d-flex justify-content-between align-items-center mx-auto">
      <div class="col-2 h6 m-0">
        <p class="text-center m-0">{{5 * page + i + 1}}</p>
      </div>
      <div class="col-2 h6">
        <p class="text-center m-0">{{(transaction.startDate | slice:0:10)}}</p>
      </div>

      <div class="col-2 h6">
        <p class="text-center m-0">{{(transaction.startDate | slice:11:50)}}</p>
      </div>

      <div class="col-2 h6">
        <p class="text-center m-0">{{transaction.paymentMethod}}</p>
      </div>

      <div class="col-2 h6">
        <p class="text-center m-0">{{transaction.payment | currency}}</p>
      </div>

      <div class="col-2 h6">
        <p class="text-center m-0">{{transaction.customer.name}}</p>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="col-md-1"></div>
    <div class="col-md-10 d-flex">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <div style="margin-right: 30px">
          <pagination-controls previousLabel="Trước"
                               nextLabel="Sau" (pageChange)="getPage($event)"
                               style="float: right">
          </pagination-controls>
        </div>
      </div>
      <div class="col-md-3"></div>
    </div>
    <div class="col-md-1"></div>
  </div>

  <!-- Button trigger modal -->
  <button hidden id="modal" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    Launch demo modal
  </button>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-body">
          <p class="text-center h4 my-4">Transaction detail</p>
          <div class="row w-100 m-0">
            <div class="col-12 d-flex justify-content-between rounded-5 my-2 h-20 mx-auto bg-white">
              <div class="col-3 d-flex align-items-center">
                <p style="color: #3D464D">Image</p>
              </div>
              <div class="col-3 d-flex align-items-center">
                <p style="color: #3D464D">Product Name</p>
              </div>
              <div class="col-3 d-flex align-items-center justify-content-center">
                <p style="color: #3D464D">Quantity</p>
              </div>
              <div class="col-3 d-flex align-items-center justify-content-end">
                <p style="color: #3D464D">Total price product</p>
              </div>
            </div>
          </div>
          <div class="row w-100 m-0">
            <div *ngFor="let order of orderListTransaction" class="col-12 d-flex justify-content-between rounded-5 my-2 h-20 mx-auto bg-white">
              <div class="col-2">
                <img class="h-100" src="{{order.product.image}}">
              </div>
              <div class="col-5 d-flex align-items-center">
                <p class="h4">{{order.product.name}}</p>
              </div>
              <div class="col-2 d-flex align-items-center justify-content-center">
                <p class="h4">{{order.quantity}}</p>
              </div>
              <div class="col-3 d-flex align-items-center justify-content-end">
                <p class="h4">{{order.product.price * order.quantity | currency}}</p>
              </div>
            </div>
          </div>
          <hr>
          <div class="row w-100 py-4 m-0">
            <div class=" col-6">
              <p class="h5">Total Price:</p>
            </div>
            <div class=" col-6">
              <p class="h5 text-end">{{total | currency}}</p>
            </div>
          </div>
        </div>
        <button hidden type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

